#files li {
    list-style-type: none;
}

.icon .name {
    background-repeat: no-repeat;
    padding-left: 40px;
}

.name {
    grid-column: 3;
}
.size {
    grid-column: 5;
}
.date {
    grid-column: 7;
}

#files li a {
    display: grid;
    width: 100%;
    grid-template-columns: 20px 20px auto 30px 40px 30px 300px;
    grid-template-rows: 1fr;
}